body{
    background-image: url(https://www.bululu.com.br/imagens/fundo-pagina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

#img_front{
    display: block;
    height: 200px;
    width: 250px;
    margin-right: auto;
    margin-top: 250px;
    float: left;
    border-radius: 20%;
}

#text1{
    border: 10px solid #1a110e;
    background-color: #1a110e;
    color: white;
    border-radius: 20px;
    margin-top: 260px;
    margin-left: 260px;
    margin-right: 10px;
    position: absolute;
    text-align: justify;
    font-family: Arial;
}

#data1{
    display: block;
    margin-top: 530px;
    margin-left: 1%;
    width: 210px;
    position: inherit;
    color: white;
    text-align: center;
    border: 4px solid #1a110e;
    background-color: #1a110e;
    border-radius: 10px;
}

#back{
    display: block;
    float: left;
    margin-top: 40%;
    border: 5px solid #176585;
    background-color: #176585;
    color: #f7f3cf;
    border-radius: 10px;
}

#go{
    display: block;
    float: right;
    margin-top: 40%;
    border: 5px solid #176585;
    background-color: #176585;
    color: #f7f3cf;
    border-radius: 10px;
}

#title{
    margin: auto;
    border: 5px solid #8e407a;
    background-color: #8e407a;
    width: 500px;
    color: #f8f2ce;
    text-align: center;
}